
@{
    ViewBag.Title = "Manage Articles Contents";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    //string ImageBase64 = Convert.ToBase64String(ViewBag.Article.Image);
    //string ImageSrc = string.Format("data:image/gif;base64,{0}", ImageBase64);
}

<div class="app-main__inner">
    <!-- Notification -->
    <div class="alert @TempData["AlertType"] alert-dismissible fade show" style="display:none;">
        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
        </button><i class="ion-android-done-all"></i>&nbsp;
        @TempData["AlertMessage"]
    </div>
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <img src="@ViewBag.Article.FilePath" style="width: 100px; height:100px;" class="img-thumbnail img-fluid img-responsive" />
                <div>
                    <h2>&nbsp;@ViewBag.Article.Title</h2>
                </div>
            </div>
            <div class="page-title-actions">
                <a class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-primary"
                   href="@Url.Action("CreateArticleContent", "Content", new { ArticleID = ViewBag.Article.Id })">
                    Add new content
                </a>
            </div>
        </div>
    </div>
    <div id="accordion" class="accordion-wrapper mb-3">
        @{
            var number = 0;
            foreach (var item in ViewBag.ArticleContents)
            {
                number++;
                <div class="card">
                    <div id="@item.Id" class="card-header">
                        <button type="button" data-toggle="collapse" data-target="#C-@item.Id"
                                aria-expanded="true" aria-controls="collapseOne"
                                class="text-left m-0 p-0 btn btn-link btn-block">
                            <h5 class="m-0 p-0">@number. @item.Heading</h5>
                        </button>
                        <div class="widget-content-right widget-content-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="border-0 btn-transition btn btn-link">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <a href="@Url.Action("EditArticleContent", "Content", new { Id = item.Id,ArticleID = ViewBag.Article.Id })" tabindex="0" class="dropdown-item"><i class="dropdown-icon lnr-pencil"></i> Edit</a>
                                    <button type="button" tabindex="0" class="dropdown-item" onclick="PromptArticleContent(@item.Id)"><i class="dropdown-icon ion-android-close"></i> REMOVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-parent="#accordion" id="C-@item.Id" aria-labelledby="@item.Id"
                         class="collapse">
                        <div class="card-body">
                            @Html.Raw(HttpUtility.HtmlDecode(item.Body))
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
@section Scripts{
    <script src="~/Areas/Admin/Scripts/Content.js"></script>
}