@{
    ViewBag.Title = "Manage Organisation";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="app-main__inner">
    <!-- Notification -->
    <div class="alert @TempData["AlertType"] alert-dismissible fade show" style="display:none;">
        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
        </button><i class="ion-android-done-all"></i>&nbsp;
        @TempData["AlertMessage"]
    </div>
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-news-paper icon-gradient bg-tempting-azure"></i>
                </div>
                <div>
                    Organisation
                    <div class="page-title-subheading">Manage all organisations here.</div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href="@Url.Action("AddOrganisation","Content")" class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-primary">
                    Add organisation
                </a>
            </div>
        </div>
    </div><div class="main-card mb-3 card">
        <div class="card-body">
            <div class="table-responsive">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in ViewBag.Organisations)
                        {
                            //string ImageBase64 = Convert.ToBase64String(row.Image);
                            //string ImageSrc = string.Format("data:image/gif;base64,{0}", ImageBase64);
                            <tr>
                                <td><img src="@row.FilePath" style="width:50px;height:50px" /></td>
                                <td style="width: 150px"><a href="@Url.Action("OrganisationDetail","Content",new { area="Admin", id = row.Id})" class="text-primary">@row.Title</a></td>
                                <td style="width: 500px">@row.Description</td>
                                <td>
                                    <div class="dropdown d-inline-block">
                                        <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                                class="mb-2 mr-2 dropdown-toggle btn btn-primary">
                                            Manage options
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                             class="dropdown-menu-shadow dropdown-menu">
                                            <div class="dropdown-menu-header">
                                                <div class="dropdown-menu-header-inner bg-primary">
                                                    <div class="menu-header-image opacity-1" style="background-image: url('/Contents/images/dropdown-header/abstract3.jpg');"></div>
                                                    <div class="menu-header-content">
                                                        <h5 class="menu-header-title">Options Menu</h5>
                                                        <h6 class="menu-header-subtitle">Manage all of your options</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="@Url.Action("EditOrganisation","Content",new { Id = row.Id })" tabindex="0" class="dropdown-item">
                                                <i class="dropdown-icon ion-edit"></i><span>Edit</span>
                                            </a>
                                            <button type="button" tabindex="0" class="dropdown-item" onclick="PromptOrganisation(@row.Id)">
                                                <i class="dropdown-icon lnr-trash"> </i><span>Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Ajax.jquery.min.js"></script>
<script src="~/Scripts/Previewer.js"></script>
@section Scripts{
    <script src="~/Scripts/Validation.js"></script>
    <script src="~/Areas/Admin/Scripts/Content.js"></script>
}